.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;

    height: 100%;
}

.portfolio-content .card {
    margin: 2rem 0;
}